<form method="post" action="last_page">
     <link rel="stylesheet" type="text/css" href="/css/last_page.css">    
<div class="ty">
    <%=p "Greetings,"%>
    <%=p "#{first_name} #{last_name}!"%>
    <br><br>
</div>
<div class="address_results">
    <%=p "Your address is:"%>
    <br>
    <%=p "#{street}"%>
    <br>
    <%=p "#{city}, #{state}"%>
    <br>
    <%=p "#{zip}"%>
    <br><br>
</div>
<div class="fav_num_total">
    <%total = num1.to_f+num2.to_f+num3.to_f%>   
    <%=p "The sum of your favorite numbers is #{total}."%>
</div>
    <div class="end_container">
        <input type="hidden" name="first_name" value="<%=first_name%>" class="name_input">
        <input type="hidden" name="last_name" value="<%=last_name%>" class="name_input">
        <input type="hidden" name="street" value="<%=street%>" class="street_input">
        <input type="hidden" name="city" value="<%=city%>" class="city_input">
        <input type="hidden" name="state" value="<%=state%>" class="state_input">
        <input type="hidden" name="zip" value="<%=zip%>" class="zip_input">
        <input type="hidden" name="num1" value="<%=num1%>" class="num1_input" >
        <input type="hidden" name="num2" value="<%=num2%>" class="num2_input" >
        <input type="hidden" name="num3" value="<%=num3%>" class="num3_input" >
    </div>

</form>